# Project

# Final Project - Analyzing Sales Data

**Date**: 23 July 2023

**Project**: `Pandas Foundation`

In [116]:
# import data
import pandas as pd
df = pd.read_csv("sample-store.csv")

In [115]:
# preview top 5 rows
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2019-138688,6/12/2019,6/16/2019,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [117]:
# shape of dataframe
df.shape

(9994, 21)

In [118]:
# see data frame information using .info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   object
 3   Ship Date       9994 non-null   object
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Segment         9994 non-null   object
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Discount        9994 non-null   float64
 20  Profit          9994 non-null   float64
dtypes: float64(4), int64(2), object(15)
memory usage: 1.6+ MB

In [121]:
# TODO - convert order date and ship date to datetime in the original dataframe
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%m/%d/%Y')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], format='%m/%d/%Y')

df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2019-138688,2019-06-12,2019-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [122]:
# TODO - count nan in postal code column
df['Postal Code'].isna().sum()

11

In [123]:
# TODO - filter rows with missing values
df [df.isna()]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9990,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9991,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9992,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9993,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
# TODO - Order in each Region
count_region = df['Region'].value_counts()

count_region.sort_values(ascending=False)

## Data Analysis Part

In [106]:
# TODO 01 - how many columns, rows in this dataset
df.shape

(9994, 21)

In [125]:
# TODO 02 - is there any missing values?, if there is, which colunm? how many nan values?
df.isna().sum()

In [108]:
# TODO 03 - your friend ask for `California` data, filter it and export csv for him
state_california = df [df['State'] == 'California']

state_california.to_csv('state_california.csv')

In [146]:
# TODO 04 - your friend ask for all order data in `California` and `Texas` in 2017 (look at Order Date), send him csv file
state_2017 = df[ ((df['State'] == 'California') | (df['State'] == 'Texas')) & (df['Order Date'].dt.year == 2017) ]


state_2017.to_csv('state_2017.csv')

In [181]:
# TODO 05 - how much total sales, average sales, and standard deviation of sales your company make in 2017
data_2017 = df[df['Order Date'].dt.year == 2017]

data_2017 = pd.DataFrame(data_2017)

data_2017['Sales'].agg(['sum', 'mean', 'std'])

In [200]:
# TODO 06 - which Segment has the highest profit in 2018
sales_2018 = df[df['Order Date'].dt.year == 2018]
sales_2018 = pd.DataFrame(sales_2018)

max_sales2018 = sales_2018['Sales'].max()
max_sales2018

6354.95

In [248]:
# TODO 07 - which top 5 States have the least total sales between 15 April 2019 - 31 December 2019

start_date = pd.to_datetime('4/15/2019', format='%m/%d/%Y')
end_date = pd.to_datetime('12/31/2019', format='%m/%d/%Y')

range_df = df[(df['Order Date'] >= start_date) & (df['Order Date'] <= end_date) ].sort_values('Sales')

range_df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
8658,8659,CA-2019-168361,2019-06-21,2019-06-25,Standard Class,KB-16600,Ken Brennan,Corporate,United States,Chicago,...,60623.0,Central,OFF-BI-10003727,Office Supplies,Binders,Avery Durable Slant Ring Binders With Label Ho...,0.836,1,0.8,-1.3376
1112,1113,US-2019-110156,2019-11-19,2019-11-24,Standard Class,EH-13945,Eric Hoffmann,Consumer,United States,Houston,...,77041.0,Central,OFF-BI-10002609,Office Supplies,Binders,Avery Hidden Tab Dividers for Binding Systems,1.192,2,0.8,-2.0264
2427,2428,CA-2019-169922,2019-06-11,2019-06-17,Standard Class,MZ-17515,Mary Zewe,Corporate,United States,Arlington,...,76017.0,Central,OFF-BI-10003784,Office Supplies,Binders,Computer Printout Index Tabs,1.344,4,0.8,-2.1504
7356,7357,CA-2019-114748,2019-10-09,2019-10-14,Standard Class,MZ-17335,Maria Zettner,Home Office,United States,Phoenix,...,85023.0,West,OFF-AR-10001315,Office Supplies,Art,Newell 310,1.408,1,0.2,0.1584
3213,3214,CA-2019-132409,2019-05-26,2019-06-01,Standard Class,TH-21235,Tiffany House,Corporate,United States,Philadelphia,...,19134.0,East,OFF-AR-10001919,Office Supplies,Art,"OIC #2 Pencils, Medium Soft",1.504,1,0.2,0.1692

In [265]:
# TODO 08 - what is the proportion of total sales (%) in West + Central in 2019 e.g. 25% 
state_2019 = df[(df['Order Date'].dt.year == 2019) & ((df['Region'] == 'West') | (df['Region'] == 'Central'))]
df_2019 = df[(df['Order Date'].dt.year == 2019)]
per_totalsales2019 = (state_2019['Sales'].sum()/df_2019['Sales'].sum())*100

per_totalsales2019.round(2)

54.97

In [310]:
# TODO 09 - find top 10 popular products in terms of number of orders vs. total sales during 2019-2020
range_time = df[(df['Order Date'].dt.year >= 2019) & (df['Order Date'].dt.year <= 2020)]

product_sales = range_time.groupby('Product Name')['Sales'].sum()
product_sales = pd.DataFrame(product_sales)

product_sales.sort_values('Sales', ascending=False).head(10)

,Sales
Product Name,
Canon imageCLASS 2200 Advanced Copier,61599.824
Hewlett Packard LaserJet 3310 Copier,16079.732
"3D Systems Cube Printer, 2nd Generation, Magenta",14299.890
GBC Ibimaster 500 Manual ProClick Binding System,13621.542
GBC DocuBind TL300 Electric Binding System,12737.258
GBC DocuBind P400 Electric Binding System,12521.108
Samsung Galaxy Mega 6.3,12263.708
HON 5400 Series Task Chairs for Big and Tall,11846.562
Martin Yale Chadless Opener Electric Letter Opener,11825.902
Global Troy Executive Leather Low-Back Tilter,10169.894

In [319]:
# TODO 10 - plot at least 2 plots, any plot you think interesting :)
# 1. Bar chart for total sales in each region
region_sales = df.groupby('Region')['Sales'].sum()
region_sales = pd.DataFrame(region_sales)
region_sales.plot(kind='bar', color='gold');

df['Region'].value_counts().plot(kind='bar', color='gold');

In [349]:
# 2. Profit in each year
df.groupby([df['Order Date'].dt.year])['Profit'].sum().plot(kind='bar', color='#0F9D58');

In [353]:
# TODO Bonus - use np.where() to create new column in dataframe to help you answer your own questions
# Profit and Loss
import numpy as np

df['P&L'] = np.where(df['Profit'] >= 0, 'Profit', 'Loss')

df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,profit and loss,P&L
0,1,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,Profit,Profit
1,2,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,Profit,Profit
2,3,CA-2019-138688,2019-06-12,2019-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,Profit,Profit
3,4,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,Loss,Loss
4,5,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,Profit,Profit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2017-110422,2017-01-21,2017-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028,Profit,Profit
9990,9991,CA-2020-121258,2020-02-26,2020-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332,Profit,Profit
9991,9992,CA-2020-121258,2020-02-26,2020-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932,Profit,Profit
9992,9993,CA-2020-121258,2020-02-26,2020-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200,Profit,Profit
9993,9994,CA-2020-119914,2020-05-04,2020-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480,Profit,Profit